<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= cl_image_path("https://res.cloudinary.com/dobjv8usn/image/upload/v1606804996/Confetti/Banner1_hmx8fe.jpg", width: 400, height: 300, crop: :fill) %>);">

  <div class="container">
    <h1>Find the perfect costume for any occasion</h1>
    <p>Only on <strong>Confetti</strong></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>

    <form class="form-inline my-2 my-lg-0 justify-content-center" action="/costumes">
      <input class="form-control mr-sm-2" type="search" name="city" placeholder="Search Location" aria-label="Search">
      <input class="form-control mr-sm-2" type="search" placeholder="Choose Category" aria-label="Search">
      <input class="form-control mr-sm-2" type="date" placeholder="Pick-up Date" aria-label="Search">
      <input class="form-control mr-sm-2" type="date" placeholder="Return Date" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>

  </div>
</div>

<p></p>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-11">
      <p></p>
      <p style="text-align:center"><strong>Don't buy - RENT your Santa outfit this holiday season</strong></p>
      <p>A staggering 235m items of unwanted clothing were forecast to be dumped in UK landfill in 2017, while the average American is estimated to bin 81lb (37kg) of used clothing annually. Overconsumption and the inevitable disposal of unwanted clothing has become a worrying global problem – and in many cases, this clothing is unnecessarily thrown away. Instead, it could be repaired or recycled.</p>
      <p>Filling landfill with clothing and textiles costs the UK alone an estimated £82m every year. But on the flip side, the consumption of clothing is hugely important to the economies of many countries, too. Research from The British Fashion Council, for example, found that fashion contributes £28 billion directly to the UK economy – and globally, it is a US$2.4 trillion industry.</p>
      <p>Despite this, materialistic values and a widespread desire for having new things, twinned with fashion’s premise to create – and sell – different styles, has reduced the functional value of clothing, making it easily disposable. A staggering 100 billion items of clothing are being produced annually, and 50% of fast fashion pieces are disposed of within a year.</p>
      <p>In fact, recent figures show that one rubbish truck of textiles is thrown away every second globally. Little wonder, then, that fashion has been dubbed “incredibly wasteful” – even by insiders.</p>
      <p style="text-align:center"><strong>The problem with fashion</strong></p>
      <p>Fashion and sustainability have historically had an uncomfortable relationship. The 2013 Rana Plaza disaster in Bangladesh, along with growing concerns over sweatshop labour, have seen fashion companies overhaul their social and environmental impacts. Consumers, meanwhile, have grown increasingly concerned about where and how garments are made. But while fashion takes strides to become ethical, there are still serious concerns over its environmental impact and contribution to climate change.</p>
      <p>Fashion is deemed to be one of the world’s most polluting industries – from toxic chemical use to water pollution and waste. Some 35% of the global total of microfibres in the oceanscomes from clothes and textiles, meaning fashion is a major contributor to this pollution. By 2050, it is anticipated, the fashion industry will use up 25% of the world’s carbon budget.</p>
      <p>So what’s the solution? A circular economy seeks to move beyond fashion’s linear model of take, make and waste, to close the loop, designing out waste and minimising environmental impacts. While fashion brands work to limit their polluting practices through the creation of organic, environmentally conscious collections, there is still a need to limit the sheer volume of waste that fashion creates.</p>
      <p>Recycling has become an important initiative to address this. H&M, for example, has a successful garment collection scheme, repurposing their consumers’ unwanted clothing. Other brands, meanwhile, are using recycled materials to create clothing. Outdoor clothing brand Patagonia has made polyester fleece out of recycled plastic bottles.</p>
      <p>While recycling could achieve circulatory by designing out waste, it is problematic environmentally. Recycling is energy intensive and may require use of further virgin materials. Additionally, while it resolves some of fashion’s sustainability issues, it does not adequately address the problem that consumers buy too much, and that the average number of times a garment is worn has declined by 36% since 2000. We must reconsider how fashion is sold, encouraging consumers to waste less, and ensure that garments have a longer life span.</p>
      <p style="text-align:center"><strong>Are rentals the future?</strong></p>
      <p>WRAP, the UK’s resource efficiency agency, has identified leasing as an innovative business model that gives clothes a longer service life, while reducing material use and carbon dioxide emissions. A recent survey conducted by Westfield Shopping Centre in London also proposed that clothing rental would become a key future trend.</p>
      <p>The possible value of the clothing rental market in the UK is predicted to be £923m and the model is already well-established for certain items, such as dinner jackets and wedding suits for men. Despite this, there are currently just a handful of fashion companies that have adopted a leasing model. At Mud Jeans, for example, consumers can lease a pair of organic jeans, and after a year can keep, swap or return them. Girls Meets Dress, meanwhile, was founded in the UK in 2009, under the ethos that in a sharing economy ownership will become obsolete.</p>
      <p>In America, Rent the Runway has become a significant player in the fashion industry. These companies are built on change, but undoubtedly they face the challenges of the traditional sales-driven fashion system, along with consumer hesitation.</p>
      <p>Our research has explored the potential for clothing rental among consumers. While we found there were opportunities certainly at the luxury end of the market, there was a definite resistance to rental of lower priced items, which were just too easy to buy.</p>
      <p>If consumers are to engage, rentals need to be convenient, cheap, accessible and fulfil the desire for having something new. Consumers are open to change and leasing could help achieve a more circular fashion industry. However, there are issues to consider from transportation through to dry cleaning impacts. Clothing rental has the potential to reduce waste and increase the lifespan of garments, but to achieve a more sustainable industry a systemic change in business practice and consumer behaviour is needed.</p>
    </div>
  </div>
</div>
