<style>
body {
  background-image: "/assets/images/5.jpg";
}
</style>


<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://unsplash.com/photos/kEqcai34ce4);">
  <div class="container">
    <h1>Confetti provides <strong>customes</strong> for your <strong>every special occassion</strong></h1>
    <p>List your costume on confetti and find costume for your next celebration.</p>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search City" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-10">
      <%= "Lorem ipsum dolor sit amet, consectetur adipisicing elit " * 100 %>
    </div>
  </div>
</div>

