<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= cl_image_path("https://res.cloudinary.com/dobjv8usn/image/upload/v1606804996/Confetti/Banner1_hmx8fe.jpg", width: 400, height: 300, crop: :fill) %>);">
  
  <div class="container">
    <h1>Find or rent out your costumes for any celebration.</h1>
    <p>Only on <strong>Confetti</strong></p> 
    <p></p>
    <p></p>
    <p></p>
    <p></p>

    <form class="form-inline my-2 my-lg-0 justify-content-center" action="/costumes">
      <input class="form-control mr-sm-2" type="search" name="city" placeholder="Search Location" aria-label="Search">
      <input class="form-control mr-sm-2" type="search" placeholder="Choose Category" aria-label="Search">
      <input class="form-control mr-sm-2" type="date" placeholder="Pick-up Date" aria-label="Search">
      <input class="form-control mr-sm-2" type="date" placeholder="Return Date" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>

  </div>
</div>

<P></P>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-11">
      <%= "Lorem ipsum dolor sit amet, consectetur adipisicing elit " * 100 %>
    </div>
  </div>
</div>
