<div class="container w-60vw">
<h2 class="text-center mt-1 mb-3">Upcoming Bookings</h2>
<% @renter_pending_bookings.each do |booking| %>
  <%= render 'bookings/card', booking: booking %>
<% end %>

<% @owner_bookings.each do |booking| %>
  <%= render 'bookings/card', booking: booking %>
<% end %>
</div>


