
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-8">
     

      <%= simple_form_for [@costume, @costume_tag] do |f| %>
        <%= f.input :tag, collection: Tag.all, input_html: { multiple: true, class: 'multiple-select' }, include_hidden: false %>
        <%= f.submit "Add tag", class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>